extends layouts/default

append variables
  - var currentPage = 'about us';
  - var title = 'About — the Washington University Aristocats';
  - var description = 'Learn about the Washington University Aristocats: their history, their lore, their deepest secrets.';
  - var members = [{ name: 'Natasha Bhuyan', href: 'images/members/nbhuyan.jpg' }, { name: 'Ian Boyer-Edwards', href: 'images/about/members/iboyer-edwards.jpg' }, { name: 'Vanessa Burks', href: 'images/about/members/vburks.jpg' }, { name: 'Patricia Chen', href: 'images/members/pchen.jpg' }, { name: 'Elizabeth Coe', href: 'images/members/ecoe.jpg' }, { name: 'Nicole Cooper', href: 'images/members/ncooper.jpg'}, { name: 'Jonathan Huster', href: 'images/members/jhuster.jpg'}, { name: 'Alice Liu', href: 'images/members/aliu.jpg' }, { name: 'Ben Stolovitz', href: 'images/about/members/bstolovitz.jpg' }, { name: 'Mitch Styczynski', href: 'images/about/members/mstyczynski.jpg' }, { name: 'Michelle Zhang', href: 'images/about/members/mzhang.jpg' }];
  - var alumni = [{ name: 'Katie Gould', href: 'images/alumni/kgould.jpg'}, { name: 'Ryan Hoffman', href: 'images/alumni/rhoffman.jpg'}, { name: 'Kunal Mathur', href: 'images/alumni/kmathur.jpg'}, { name: 'Ken Zheng', href: 'images/alumni/kzheng.jpg'}, { name: 'Mathew Ashner', href: 'images/alumni/mashner.jpg'}, { name: 'Stephanie Drahozal', href: 'images/alumni/sdrahozal.jpg'}, { name: 'Meredith Lanzen', href: 'images/alumni/mlanzen.jpg'}, { name: 'Eric Yen', href: 'images/alumni/eyen.jpg'}];

block header
  .header.header--bleed.row(style="background-image:url('images/about/header.jpg');")
      h1.header__title about us

block content
  .content.row.content--flow-bottom.content--flush
    .col-md-8
      h2 Purr. Meowetatum. Hiss.
  .content.row.content--flow-top
    .col-md-8
      h3 We are the Washington University Aristocats.
      p.
        We are <strong>the Washington University Aristocats</strong>, Wash U’s all-Disney a cappella group, and we’ve been wreaking havoc since 2005. It’s a simple formula: find several reasonably attractive college kids who take singing seriously (and not much else), give them Disney music to sing, and you’ve got a group that makes people smile. We attempt strange accents, try to imitate animals (specifically lorded felines), and, most importantly, spread Disney magic wherever we go, all in the name of avoiding homework and making people happier.
    .col-md-4.block.block--light
      a(href="/music.html").block Listen to us &rarr;
      a(href="/auditions.html").block Join us &rarr;
  .content.row
    h2 Current Members
  ul.row.block-grid.block-grid--light
    li.block-grid__item.person(style="background-image: url('images/about/members/mduan.jpg');")
      .block-grid__item-content.person__content
        h3.person__name Michael Duan
        h4.person__title Group Coordinator
    li.block-grid__item.person(style="background-image: url('images/about/members/rmehta.jpg');")
      .block-grid__item-content.person__content
        h3.person__name Rishil Mehta
        h4.person__title Music Director
    each person in members
      if typeof person === 'string'
        li.block-grid__item.person
          .block-grid__item-content.person__content
            h3.person__name= person
      else
        li.block-grid__item.person(style="background-image: url('#{person.href}');")
          .block-grid__item-content.person__content
            h3.person__name= person.name
    li.block-grid__item.block-grid__item--full.person.person--full(style="background-image: url('images/about/members/you.png');")
      a.block-grid__item-content(href="/auditions.html")
        .person__content
          h3 You?
  .content.row
    h2 Alumni
  ul.row.block-grid.block-grid--small.block-grid--light
    each person in alumni
      if typeof person === 'string'
        li.block-grid__item.person
          .block-grid__item-content.person__content
            h3.person__name= person
      else
        li.block-grid__item.person(style="background-image: url('#{person.href}');")
          .block-grid__item-content.person__content
            h3.person__name= person.name
